.todo {
  padding: 120px 0;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__form {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__calendar {
    max-width: 250px;
    height: 40px;
    width: 100%;
  }

  &__input {
    padding: 6px;
    border: 1px solid var(--grey);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    &:active {
      outline: none;
    }
  }

  &__list {
    margin-top: 12px;
    font-size: 16px;
    color: var(--black);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
    padding: 12px;
    border-radius: var(--broder-radius);
    background-color: var(--grey);
    font-family: "Roboto", sans-serif;
    font-size: 16px;

    &-text {
      max-width: 280px;
      overflow: hidden;
    }
  }

  &__delete {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 992px) {
  .todo {
    padding: 40px 0;
  }
}
