.button {
  width: fit-content;
  height: 100%;
  padding: 8px;
  border-radius: var(--broder-radius);
  border: var(--broder);
  color: var(--white);
  transition: var(--transition);
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  &:hover {
    background-color: var(--red);
    border-color: var(--red);
    color: var(--white);
  }
}
