.header {
  padding: 80px 0 80px;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
}
